@charset "utf-8";
/* Wrapper, keeps the site in place */
#wrapper {
    width: 960px;
    height: auto;
    margin: 0 auto 0 auto;
    position: relative;
}

/* Top bar */
#top {
    width: 900px;
    position: absolute;
    height: 25px;
    z-index: 10;
    top: 0;
    color: #eeeeee;
    padding-top: 7px;
    text-align: right;
    padding-right: 30px;
}

/* Top bar link styles*/
#top a {
    color: #a1c2dd;
    text-decoration: none;
}

#top a:hover {
    color: #baff00;
}

/* Body div, contains the actual page content,
such as boxes */
#body {
    width: 958px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-color: #b6b6b6;
}

/* Left column of the above body div */
aside {
    width: 220px;
    height: auto;
    float: left;
    margin-left: 10px;
}

/* Right column of the above body div */
#main {
    width: 710px;
    height: auto;
    float: right;
    margin-right: 10px;
}

/* Needed to prevent floats from messing around */
.clear {
    clear: both;
}

/* A margin-fix, where regular margin didn't work(?) */
#space {
    height: 10px;
    width: 100%;
}

/* Right content box inside of the body div, right column.
This is the box(es) where the page content goes. */
.main_box {

    width: 100%;
    height: auto;

    margin-bottom: 10px;
    line-height: 1.4;
}

/* Right box top bar / title */
.main_box_top {
    height: 67px;
    font-family: Georgia, serif;
    text-align: left;
    padding-left: 60px;
    font-size: 21px;
    line-height: 67px;
    color: #1b4a76;
    background: url(../images/lay/pagetitle_bg.png) 20px top no-repeat;
    margin-top: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Right box bottom */
.main_box_bottom {
    clear: both;

    padding: 5px;
    color: #666;
}

.main_box_bottom b {
    color: #333;
}

/* Avatar */
.avatar {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 5px;
}

*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-size: 2500px 1400px;
    background: #000000 url(../images/lay/bg.jpg) no-repeat fixed center -250px;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 12px;
}

/*a:link, a:visited {*/
/*text-decoration: none;*/
/*color: #2a557d;*/
/*font-weight: bold;*/
/*}*/

#content_ajax ul, #content_ajax ol {
    margin: 0 40px;
}

#content_ajax {
    margin: 20px;
}

a:hover {
    text-decoration: underline;
    color: #2a557d;
    font-weight: bold;
}

.caption a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 672px;
    background: url(../images/lay/content-top.jpg) center top no-repeat, url(../images/lay/content-leftborder.jpg) left top repeat-y, url(../images/lay/content-rightborder.jpg) 648px top repeat-y, url(../images/lay/content-bg.jpg) left top repeat;
}

#content-bottombg {
    margin-left: auto;
    margin-right: auto;
    width: 678px;
    height: 113px;
    background: url(../images/lay/content-bottom.png) center top no-repeat;
}

.page-title {
    height: 67px;
    font-family: Georgia, Arial, serif;
    text-align: left;
    padding-left: 60px;
    font-size: 21px;
    line-height: 67px;
    color: #1b4a76;
    background: url(../images/lay/pagetitle_bg.png) 20px top no-repeat;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: -20px;
}

.page-title:first-letter {
    font-size: 28px;
}

.page.page-title {
    padding-left: 90px;
    padding-top: 15px;
    min-height: 50px;
    line-height: 32px;
    vertical-align: center;

}

.sc-subtitle {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 40px;
}

.sc-paragraph {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    margin: 8px 40px 40px 40px;
}

#features-img {
    width: 100%;
    height: 100%;
}

.zalogowany-jako-username {
    font-size: 20px;
    color: rgb(229, 195, 79);
    font-weight: normal;
    font-family: serif;
}

.menupos:nth-child(1) {
    width: 110px;
}

.menupos:nth-child(2) {
    width: 127px;
}

.menupos:nth-child(3) {
    width: 132px;
}

.menupos:nth-child(4) {
    width: 119px;
    margin-left: 271px;
}

.menupos:nth-child(5) {
    width: 109px;
}

.menupos:nth-child(6) {
    width: 146px;
}

.rightcenter ul {
    margin: 0;
    padding: 0;
    width: 90%;
    list-style-type: none;
}

.rightcenter ul li a {
    text-decoration: none;
    color: rgb(229, 195, 79);
    padding: 11px 11px;
    display: block;
}

.rightcenter ul li a:visited {
    color: rgb(229, 195, 79);
}

.rightcenter ul li a:hover, .rightcenter ul li .current {
    color: rgb(229, 195, 79);
    background-color: rgba(255, 255, 255, 0.2);
}

.titleright {
    font-size: 20px;
    color: rgb(229, 195, 79);
    font-weight: normal;
    font-family: serif;
}

.rightcenter {
    margin: 12px;
}

.rightcenter ul {
    margin: 5px 20px;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    color: #000;
    font-family: Arial, serif;
    font-size: 12px;
}

body {
    background: #000000 url(../images/lay/bg.jpg) no-repeat center top;
    color: #000000;
    font-family: Arial, serif;
    font-size: 12px;
}

.nice_table tr:first-child td {
    background: url(../images/lay/table-head-bg.jpg) 0 top;
    color: #fff;
}

.nice_table tr:hover {
    background-color: rgb(224, 189, 97)
}

.statistics_arena_head {
    background: url(../images/lay/tab-normal-bg-active.jpg) 0 top;
}

#menu {
    position: absolute;
    width: 1020px;
    height: 58px;
    left: 50%;
    margin-left: -510px;
    margin-top: 38px;
}

#topnav {
    position: absolute;
    width: 1026px;
    height: 35px;
    left: 50%;
    margin-left: -513px;
    margin-top: 290px;
    background: url(../images/lay/border-top.png) center top no-repeat;
}

#wrapper {
    position: relative;
    width: 1026px;
    left: 50%;
    margin-left: -513px;
    margin-top: 316px;
}

#content-left {
    float: left;

    margin-left: 3px;

    width: 672px;

    background: url(../images/lay/content-top.jpg) center top no-repeat, url(../images/lay/content-leftborder.jpg) left top repeat-y, url(../images/lay/content-rightborder.jpg) 648px top repeat-y, url(../images/lay/content-bg.jpg) left top repeat;
    min-height: 740px;
}

#content-left-bottombg {
    float: left;
    width: 678px;
    height: 113px;
    background: url(../images/lay/content-bottom.png) center top no-repeat;
}

#content-righttop {
    width: 661px;
    height: 40px;
    position: absolute;
    background: url(../images/lay/content_rightcorner.png) right 3px no-repeat;
}

#content-right {
    float: left;
    width: 348px;
    background: url(../images/lay/right-top.jpg) center top no-repeat, url(../images/lay/right-bg.jpg) left top repeat;
    min-height: 200px;
    padding: 20px 0 10px;
}

#content-right a:link, #content-right a:visited {
    text-decoration: none;
    font-weight: normal;
    color: rgb(229, 195, 79);
    font-size: 13px;
}

#content-right a:hover {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    font-size: 13px;
}

#content-right-bottombg {
    float: left;
    width: 348px;
    height: 189px;
    background: url(../images/lay/right-bottom.png) center top no-repeat;
}

#footer-wrap {
    padding: 20px 0 24px 0;
    background-color: #000;
    color: #ddd;
}

#footer {
    position: relative;
    width: 970px;
    left: 50%;
    margin-left: -485px;
    font-size: 11px;
    line-height: 16px;
}

.rightpanel-image {
    width: 340px;
    height: 122px;
    background: url(../images/rightpanel/rightpanel_img_bg.png) left top no-repeat;
    text-align: center;
    margin-left: 2px;
    padding-top: 12px;
}

.error {
    margin: 0 30px 6px 30px;
    padding: 12px 12px 12px 50px;
    border: solid 1px rgba(216, 80, 80, 0.75);
    background: rgba(200, 48, 51, 0.5) url(../images/lay/errormark.png) no-repeat 8px center;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.success {
    margin: 0 30px 6px 30px;
    padding: 12px 12px 12px 50px;
    border: solid 1px rgba(135, 181, 100, 0.75);
    background: rgba(125, 176, 104, 0.5) url(../images/lay/successmark.png) no-repeat 5px center;
    color: #000;
    font-weight: bold;
    text-align: left;
}

#menu a:link, #menu a:visited, #menu a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(229, 195, 79);
    font-size: 13px;
}

.menupos {
    margin-left: 1px;
    float: left;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.0);
    line-height: 58px;
    text-align: center;
    cursor: pointer;
}

.menupos:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menupos-dropdown {
    overflow: hidden;
    font-weight: bold;
    color: rgb(229, 195, 79);
    font-size: 13px;
    line-height: 30px;
    padding-top: 14px;
    cursor: default;
    height: 44px;
}

.menupos-dropdown:hover {
    overflow: visible;
    height: auto;
    background: url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) right top repeat;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.menupos-dropdown a:hover {
    color: #fff;
}

.menupos-dropdown ul {
    display: block;
    float: left;
    height: 100%;
    text-align: center;
    width: 100%;
    border: 1px solid #000;
    border-top: 0;
    margin-top: 15px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    margin-left: -1px;
    list-style: none;
}

.menupos-dropdown ul li:first-child {
    border-top: 1px solid #000;
}

.menupos-dropdown ul li:last-child {
    border-bottom: none;
}

.menupos-dropdown ul li {
    height: 25px;
    padding: 5px 0;
    border-bottom: 1px solid #000;
    cursor: pointer;
    line-height: 25px;
}

.menupos-dropdown ul li:hover a, .menupos-dropdown ul li:active a {
    color: #e0e000 !important;
}

#lang-en {
    position: absolute;
    width: 57px;
    padding-right: 13px;
    height: 27px;
    left: 50%;
    margin-left: 292px;
    margin-top: 0;
    background: url(../images/lay/flag_en.gif) 13px 6px no-repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
    border: solid 1px rgb(16, 43, 58);
    border-top: 0;
    border-right: 0;
    -moz-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
    color: #eee;
    text-align: right;
}

#lang-en:hover {
    background: url(../images/lay/flag_en.gif) 13px 6px no-repeat, url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
}

#lang-pl {
    position: absolute;

    width: 57px;

    padding-right: 13px;

    height: 27px;

    left: 50%;
    margin-left: 362px;
    margin-top: 0;
    background: url(../images/lay/flag_pl.gif) 13px 6px no-repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
    border: solid 1px rgb(16, 43, 58);
    border-top: 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
    color: #eee;
    text-align: right;
}

#lang-pl:hover {
    background: url(../images/lay/flag_pl.gif) 13px 6px no-repeat, url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
}

.realm-border {
    margin-top: 5px;
    width: 314px;
    height: 60px;
    border: solid 1px #000;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
    text-align: left;
}

.realm-border:not(:first-of-type) {
    margin-top: 16px;
}

.realm-status {
    margin: 11px 8px 0 8px;
    float: left;
}

.realm-name {
    margin-top: 11px;
    float: left;
    font-weight: bold;
    color: rgb(229, 195, 79);
    font-size: 18px;
    letter-spacing: 1px;
    font-family: serif;
}

.realm-text {
    float: left;
    color: #ccc;
    font-size: 12px;
    min-width: 240px;
}

.right-spacer {
    height: 34px;
    background: url(../images/rightpanel/right_spacer.png) left top no-repeat;
    margin: 15px 0;
}

.right-spacer:last-of-type {
    display: none;
}

.button-normal {
    border: 0;
    width: 122px !important;
    height: 35px !important;
    background: rgba(0, 0, 0, 0) url(../images/forms/button_normal.png) no-repeat left top;
    color: rgb(229, 195, 79) !important;
    text-align: center;
    font-weight: normal !important;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    line-height: 35px !important;
    padding: 0 !important;
    text-decoration: none;
}

.button-normal:hover {
    background: url(../images/forms/button_normal_hover.png) left top no-repeat;
    color: rgb(229, 195, 79);
    text-decoration: none;
    font-weight: normal;
}

.button-normal:active {
    background: url(../images/forms/button_normal_push.png) left top no-repeat;
    color: rgb(229, 195, 79);
    text-decoration: none;
    font-weight: normal;
}

.zalogowany-jako {
    font-size: 13px;
    color: #ccc;
    font-weight: normal;
}

.zalogowany-jako-username {
    font-size: 24px;
    color: rgb(229, 195, 79);
    font-weight: normal;
    font-family: serif;
}

.button-wide {
    border: 0;
    width: 225px;
    height: 35px;
    background: rgba(0, 0, 0, 0) url(../images/forms/button_wide.png) no-repeat left top;
    color: rgb(229, 195, 79);
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;
}

.button-wide:hover {
    background: url(../images/forms/button_wide_hover.png) left top no-repeat;
    color: rgb(229, 195, 79);
    text-decoration: none;
    font-weight: normal;
}

.button-wide:active {
    background: url(../images/forms/button_wide_push.png) left top no-repeat;
    color: rgb(229, 195, 79);
    text-decoration: none;
    font-weight: normal;
}

.formtable {
    color: #694123;
    font-size: 15px;
    font-family: Georgia, Arial, serif;
    font-weight: normal;
}

.formtable td {
    vertical-align: middle;
    padding: 6px 6px;
}

select {
    border: solid 1px #888;
    background: url(../images/lay/select_arrow.png) right center no-repeat, rgba(0, 0, 0, 1);
    color: #ccc;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#wheel {
    width: 123px;
    height: 131px;
    position: absolute;
    z-index: 2;
    background: url(../images/index/wheel.png) 5px 2px no-repeat;
}

#features {
    width: 601px;
    height: 272px;
    background: url(../images/index/features_bg.png) left top no-repeat;
    text-align: left;
    padding: 8px 0 0 8px;
    margin: 28px auto 0;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#features .caption {
    height: 100px;
    padding: 3px;
}

#slider_previous, #slider_next {
    top: 100px !important;
    text-decoration: none;
}

#features-overlay {
    position: absolute;
    z-index: 1;
    width: 587px;
    height: 259px;
}

#features-bigframe {
    width: 587px;
    height: 259px;
    background: url(../images/index/features_bigframe.png) left top no-repeat;
    padding: 3px;
    margin-bottom: 7px;
    overflow: hidden;
}

#features-textframe {
    position: absolute;
    width: 587px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 159px;
}

#features-title {
    font-family: Georgia, Arial, serif;
    font-size: 22px;
    height: 45px;
    line-height: 45px;
    padding: 3px 10px 0 10px;
    font-weight: bold;
}

#features-text {
    margin: 0 10px;
    font-weight: normal;
    font-size: 13px;
}

.features-smallimg-active {
    float: left;
    width: 138px;
    height: 64px;
    font-weight: normal;
    font-size: 13px;
    padding: 3px;
    background: url(../images/index/features_smallframe_active.png) left top no-repeat;
    margin-left: 6px;
}

.features-smallimg-inactive {
    float: left;
    width: 138px;
    height: 64px;
    font-weight: normal;
    font-size: 13px;
    padding: 3px;
    background: url(../images/index/features_smallframe_inactive.png) left top no-repeat;
    margin-left: 6px;
}

.features-smallimg-active img, .features-smallimg-inactive img {
    cursor: pointer;
}

.news-container {
    margin: 0 30px 24px 30px;
    background: url(../images/index/news_line.png) -5px bottom no-repeat;
    color: #000;
}

.news-container a:link, .news-container a:visited {
    text-decoration: none;
    color: #2a557d;
    font-weight: bold;
}

.news-container a:hover {
    text-decoration: underline;
    color: #2a557d;
    font-weight: bold;
}

.newsimg-border {
    float: left;
    width: 134px;
    height: 134px;
    padding: 3px;
    background: url(../images/index/news_imageborder.png) left top no-repeat;
    margin-right: 15px;
}

.news-title {
    font-size: 22px;
    font-weight: bold;
    color: #884b1e;
}

.news-author {
    font-size: 11px;
    font-weight: bold;
    color: #563c23;
}

.news-pagetable td {
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.news-ps {
    padding: 3px 1px;
}

.news-page-inactive {
    padding: 3px 0;
    width: 19px;
    border: solid 1px #555;
    background-color: #c3c3c3;
    color: #163849;
    cursor: pointer;
}

.news-page-active {
    padding: 3px 0;
    width: 19px;
    border: solid 1px #000;
    background-color: #3b6174;
    color: #E5C34F;
}

.onas-subtitle {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 40px;
}

.onas-paragraph {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    margin: 8px 40px 40px 40px;
}

.onas-paragraph a:link, .onas-paragraph a:visited {
    text-decoration: none;
    color: #2a557d;
    font-weight: bold;
}

.onas-paragraph a:hover {
    text-decoration: underline;
    color: #2a557d;
    font-weight: bold;
}

.jz-number {
    float: left;
    margin-left: 45px;
    width: 42px;
    height: 42px;
    background: url(../images/lay/number_bg.png) left top no-repeat;
    text-align: center;
    font-size: 20px;
    line-height: 42px;
    color: rgb(229, 195, 79);
    font-family: "Myriad Pro", serif;
}

.jz-text {
    float: left;
    margin-left: 20px;
    width: 490px;
    padding: 10px 13px;
    background-color: rgba(238, 219, 179, 0.75);
    border: solid 1px rgb(228, 179, 89);
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    color: #000;
}

.jz-text a:link, .jz-text a:visited {
    text-decoration: none;
    color: #2a557d;
    font-weight: bold;
}

.jz-text a:hover {
    text-decoration: underline;
    color: #2a557d;
    font-weight: bold;
}

.terms {
    text-align: left;
    font-size: 13px;
    color: #000;
    margin: 8px 60px 24px 60px;
}

.terms ol {
    font-weight: bold;
}

.terms li {
    margin-bottom: 12px;
}

.terms span {
    font-weight: normal;
}

.premium-container a:link, .premium-container a:visited, .premium-container a:hover {
    color: rgb(37, 94, 148);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.premium-container a:hover {
    text-decoration: underline;
}

.premium-subtitle {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 40px;
}

.premium-paragraph {
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    margin: 8px 40px 40px 40px;
}

.ranking-tab-big-inactive {
    float: left;
    margin-left: 8px;
    width: 114px;
    height: 84px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg.jpg) left top repeat-x;
    cursor: pointer;
    color: rgb(166, 118, 82);
    line-height: 84px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.ranking-tab-big-active {
    float: left;
    margin-left: 8px;
    width: 114px;
    height: 84px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg-active.jpg) left top repeat-x;
    cursor: auto;
    color: rgb(255, 255, 255);
    line-height: 84px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px -1px 1px #444;
}

.spacer {
    height: 2px;
    background: url(../images/index/news_line.png) center top no-repeat;
    margin: 24px 0;
}

#ranking-tabs-container {
    position: absolute;
    margin: 0 29px;
}

.tab-normal-active {
    position: relative;
    z-index: 1;
    float: left;
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(229, 195, 79);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: solid 1px rgb(0, 0, 0);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-normal-bg-active.jpg) left top repeat-x;
    cursor: auto;
}

.tab-normal-inactive {
    position: relative;
    z-index: 1;
    float: left;
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(22, 56, 73);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: solid 1px #555;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-normal-bg-inactive.jpg) left top repeat-x;
    cursor: pointer;
}

.tab-normal-inactive:hover {
    background: url(../images/lay/tab-normal-bg-hover.jpg) left top repeat-x;
}

#rankingtable {
    border-top: solid 1px #000;
    width: 610px;
    margin: 0 auto;
    background: url(../images/lay/table-head-bg.jpg) left top repeat-x, url(../images/lay/table-body-bg.jpg) left 35px repeat;
    font-weight: bold;
}

#rankingtable tr {
    border-left: solid 1px rgb(166, 118, 82);
    border-right: solid 1px rgb(166, 118, 82);
}

#rankingtable th {
    text-align: left;
    height: 35px;
    border: 0;
    vertical-align: middle;
    padding-left: 12px;
    color: #fff;
    background: url(../images/lay/table-head-limiter.jpg) 0 top no-repeat;
}

#rankingtable td {
    text-align: left;
    height: 36px;
    border: 0;
    vertical-align: middle;
    padding-left: 12px;
    color: #000;
}

#rankingtable a:link, #rankingtable a:active, #rankingtable a:visited {
    font: bold 12px Arial;
    color: #000;
    text-decoration: none;
}

#rankingtable a:hover {
    font: bold 12px Arial;
    color: #005BA1;
    text-decoration: none;
}

.r-det {
    border: solid 0 #000;
    border-collapse: collapse;
}

.r-det td, .r-det th {
    border: solid 0 #000;
    border-collapse: collapse;
    text-align: center;
    padding: 1px 8px;
    line-height: 18px;
    vertical-align: middle;
}

.r-det th {
    font-weight: bold;
    padding-bottom: 5px;
}

#ucp-realm-list-container {
    position: absolute;
    width: 500px;
    height: 36px;
    margin: 47px 0 0 140px;
    color: rgb(112, 78, 55);
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    text-align: right;
}

.ucp-tab-big-inactive {
    float: left;
    margin-left: 8px;
    width: 145px;
    height: 66px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg.jpg) left top repeat-x;
    cursor: pointer;
    color: rgb(166, 118, 82);
    line-height: 66px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.ucp-tab-big-active {
    float: left;
    margin-left: 8px;
    width: 145px;
    height: 66px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg-active.jpg) left top repeat-x;
    cursor: auto;
    color: rgb(255, 255, 255);
    line-height: 66px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px -1px 1px #444;
}

#ucp-wrapper {
    margin: 0 29px;
}

#ucp-wrapper a:link, #ucp-wrapper a:visited, #ucp-wrapper a:hover {
    color: rgb(37, 94, 148);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

#ucp-wrapper a:hover {
    text-decoration: underline;
}

#ucp-title-and-textbox {
    margin: 0 5px;
    width: 48%;
    color: rgb(105, 65, 35);
    font-size: 20px;
    font-family: Georgia, Arial, serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
}

#ucp-title-and-textbox:first-letter {
    font-size: 26px;
}

#ucp-textbox {
    margin-top: 6px;
    padding: 10px;
    border: solid 1px rgb(228, 179, 89);
    background-color: rgba(238, 219, 179, 0.5);
    text-align: left;
    font-family: Arial, serif;
    font-size: 13px;
    text-transform: none;
    color: #000;
    text-shadow: 0 0 0 #000;
}

#ucp-textbox table tbody tr td {
    font-size: 12px;
}

#ucp-textbox table tbody tr td:first-child {
    font-weight: bold;
}

.pp-number-small {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0 22px 0 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    background: url(../images/ucp/pp_small.png) right center no-repeat;
}

.gold-number-small {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0 22px 0 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    background: url(../images/ucp/gold_small.png) right center no-repeat;
}

.vote-number-small {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0 22px 0 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    background: url(../images/ucp/vote_small.png) right center no-repeat, url(../images/ucp/vote_bg.png) right center no-repeat;
}

#ucp-premium-menu {
    position: absolute;
    z-index: 9;
    margin: 68px 0 0 494px;
    width: 280px;
    height: 150px;
    border: solid 1px rgb(94, 67, 47);
    background-color: rgb(156, 127, 76);
    color: rgb(62, 44, 31);
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    display: none;
}

#ucp-premium-menu a:link, #ucp-premium-menu a:visited, #ucp-premium-menu a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#ucp-premium-menu a:hover {
    color: gold;
}

.ucp-premium-menu-container {
    font-size: 13px;
    width: 133px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 20px;
}

.ucp-premium-menu-spacer {
    border-top: solid 1px rgb(118, 100, 68);
    background-color: rgb(186, 166, 130);
    width: 135px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}

.ucp-premium-menu-position {
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    text-align: center;
}

.premium-subpage-title {
    color: rgb(105, 65, 35);
    font-size: 20px;
    font-family: Georgia, Arial, serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.zdobadz-pp-tab-sms {
    margin-bottom: 13px;
    height: 70px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg.jpg) left top repeat-x;
    text-align: left;
}

.zdobadz-pp-tab-sms .sms1 {
    position: absolute;
    margin: 3px 0 0 12px;
    font-size: 18px;
    font-family: Georgia, Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.zdobadz-pp-tab-sms .sms2 {
    position: absolute;
    margin: 24px 0 0 12px;
    font-size: 18px;
    font-family: Georgia, Arial, serif;
    color: rgb(56, 95, 130);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
}

.zdobadz-pp-tab-sms .sms3 {
    position: absolute;
    margin: 42px 0 0 44px;
    font-size: 18px;
    font-family: Georgia, Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.zdobadz-pp-tab-sms .sms4 {
    position: absolute;
    margin: 42px 0 0 128px;
    font-size: 20px;
    font-family: Arial, serif;
    color: rgb(56, 95, 130);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
}

.zdobadz-pp-tab-sms .sms5 {
    position: absolute;
    margin: 12px 0 0 165px;
    width: 120px;
    text-align: right;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(0, 0, 0);
}

.zdobadz-pp-tab-sms .sms6 {
    position: absolute;
    margin: 34px 0 0 200px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    padding-left: 28px;
    background: url(../images/ucp/pp_big.png) left 2px no-repeat;
    height: 30px;
}

.zdobadz-pp-tab-przelew {
    margin-bottom: 13px;
    height: 36px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/ucp/tab-przelew-bg.jpg) left top repeat-x;
    text-align: left;
    cursor: pointer;
}

.zdobadz-pp-tab-przelew .prz1 {
    position: absolute;
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    font-family: Georgia, Arial, serif;
    color: rgb(56, 95, 130);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
}

.zdobadz-pp-tab-przelew .prz2 {
    position: absolute;
    margin-left: 100px;
    height: 36px;
    width: 100px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: right;
}

.zdobadz-pp-tab-przelew .prz3 {
    position: absolute;
    margin-left: 210px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    background: url(../images/ucp/pp_small.png) left center no-repeat;
}

.pu-tab {
    margin-bottom: 13px;
    height: 36px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/ucp/tab-przelew-bg.jpg) left top repeat-x;
    text-align: left;
}

.pu-tab .przy1 {
    position: absolute;
    margin: 11px 0 0 8px;
}

.pu-tab .przy2 {
    position: absolute;
    margin: 0 0 0 28px;
    height: 36px;
    line-height: 36px;
    width: 200px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.pu-tab .przy3 {
    position: absolute;
    margin-left: 178px;
    height: 36px;
    line-height: 36px;
    width: 100px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    background: url(../images/ucp/pp_small.png) left center no-repeat;
}

.pu-tab .przy4 {
    position: absolute;
    margin-left: 215px;
    height: 36px;
    line-height: 36px;
    width: 100px;
    font-size: 14px;
    font-family: Arial, serif;
    color: rgb(136, 75, 30);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    background: url(../images/ucp/pp_small.png) left center no-repeat;
}

.item-container {
    float: left;
    margin: 5px 0 5px 10px;
    width: 289px;
    height: 83px;
    background: url(../images/ucp/item-bg.png) left top no-repeat;
}

.item-container .ic1 {
    position: absolute;
    margin: 34px 0 0 9px;
}

.item-container .ic2 {
    position: absolute;
    width: 62px;
    height: 62px;
    margin: 7px 0 0 36px;
    padding: 6px 0 0 6px;
    background: url(../images/ucp/item-border.png) left top no-repeat;
    cursor: pointer;
}

.item-container .ic25 {
    position: absolute;
    width: 56px;
    height: 22px;
    margin: 49px 0 0 40px;
    font-weight: bold;
    color: #eee;
    font-size: 18px;
    font-family: Arial, serif;
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    text-align: right;
    cursor: pointer;
}

.item-container .ic3 {
    position: absolute;
    font-weight: bold;
    margin: 15px 0 0 110px;
    width: 177px;
}

.item-container .ic4 {
    position: absolute;
    margin: 47px 0 0 102px;
    color: rgb(105, 65, 35);
    font-weight: normal;
    font-size: 13px;
}

.item-container .ic5-b {
    position: absolute;
    margin: 49px 0 0 1px;
    width: 30px;
    height: 30px;
}

.item-container .ic5-a {
    position: absolute;
    margin: 52px 0 0 2px;
    width: 26px;
    height: 26px;
}

.item-container .ic5-h {
    position: absolute;
    margin: 53px 0 0 3px;
    width: 24px;
    height: 24px;
}

.item-container .bagcolor {
    color: darkblue;
}

.button-simple {
    padding: 4px 9px;
    background-color: rgb(22, 59, 76);
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000;
}

.button-simple:hover {
    background-color: rgb(36, 90, 120);
    color: #FFFFFF;
}

.vote-reward-tab {
    float: left;
    width: 160px;
    height: 100px;
    border: solid 1px rgb(166, 118, 82);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(../images/lay/tab-big-bg-active.jpg) left top repeat-x;
    cursor: pointer;
}

.vote-reward-tab .part1 {
    position: absolute;
    width: 160px;
    height: 30px;
    margin-top: 18px;
    line-height: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.vote-reward-tab .part2 {
    position: absolute;
    width: 160px;
    height: 30px;
    margin-top: 40px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.vote-reward-tab .part3 {
    position: absolute;
    width: 160px;
    height: 25px;
    margin-top: 70px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

#tt {
    position: absolute;
    display: block;
    background: url(../images/tt_left.gif) top left no-repeat
}

#tttop {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(../images/tt_top.gif) top right no-repeat;
    overflow: hidden
}

#ttcont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    background: #666;
    color: #FFF;
    font-size: 12px;
    font-family: Arial, serif;
    line-height: 16px;
}

#ttbot {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(../images/tt_bottom.gif) top right no-repeat;
    overflow: hidden
}

#sidebox_login label {
    font-size: 13px;
    color: rgb(229, 195, 79);
    font-weight: normal;
    line-height: 0;
}

#sidebox_login input {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.social {
    position: absolute;
    width: 15px;
    padding-right: 13px;
    height: 27px;
    margin-top: 0;
    border: solid 1px rgb(16, 43, 58);
    border-top: 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 27px;
    color: #eee;
    text-align: center;
    right: 50%;
}

.fb {
    -moz-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    margin-right: 420px;
    background: url(../images/lay/icon-facebook_20x20.png) 5px 4px no-repeat,
    url(../images/lay/informacje-bg.jpg) left top repeat;
}

.yt {
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    margin-right: 355px;
    width: 50px;
    background: url(../images/lay/icon-youtube_20x50.png) 5px 4px no-repeat,
    url(../images/lay/informacje-bg.jpg) left top repeat;
}

.rss {
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    margin-right: 325px;
    background: url(../images/lay/icon-rss_20x20.png) 5px 4px no-repeat,
    url(../images/lay/informacje-bg.jpg) left top repeat;
}

.fb:hover {
    background: url(../images/lay/icon-facebook_20x20.png) 5px 4px no-repeat,
    url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
}

.yt:hover {
    background: url(../images/lay/icon-youtube_20x50.png) 5px 4px no-repeat,
    url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
}

.rss:hover {
    background: url(../images/lay/icon-rss_20x20.png) 5px 4px no-repeat,
    url(../images/lay/white20.png) center top repeat, url(../images/lay/informacje-bg.jpg) left top repeat;
}