@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700);
html, body {
font-family: 'Fira Sans',sans-serif;
margin: 0; 
padding: 0; 
background-color: #000000;
background-image: url(../img/homebg2.jpg);
background-size: auto;
background-repeat: no-repeat;
 background-position: center top;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
#topmenu{
    width: 100%;
    height: 42px;
    background: url(../img/homebg3.png) repeat;
    top: 0px;
    z-index: 2;
    position: fixed;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
    -moz-box-shadow: 0px 0px 6px 0px #266213;
    -webkit-box-shadow: 0px 0px 6px 0px #266213;
    box-shadow: 0px 0px 6px 0px #266213;
}
.activem{
    background-color: rgba(0, 0, 0, 0.4);
}
#social{
    width: 68px;
    height: 232px;
    background: url(../img/social.png) no-repeat;
    left: 0px;
    top: 200px;
    z-index: 2;
    position: relative;
    clear:both;
}
ul.socialink{
    padding-top: 3px;
    left: 0px;
}
.social1{
    width: 35px;
    height: 35px;
    margin: 7px -20px 0px -28px;
    border-radius: 6px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
.social1:hover{
  border-radius: 6px;
background: rgba(230, 230, 230, 0.41);
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
.logo {
    width: 418px;
    height: 83px;
    padding: 0 !important;
    background-image: url(../img/logo.png);
    background-size:     auto;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    right: 50px;
    top: -100px;
    z-index: 2;
    position: absolute;
    float:right;
}
video.illvideo {
    width: 100%;
    height: auto;
    z-index: 1;
}
audio.illidan{
    position: fixed;
    z-index: 2;
    bottom:0;
    right: 0;
    width: 300px;
    height: 30px;
}
#illidan {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 100%
}
#ncenter{
    width: 1024px;
    top: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: url(../img/homebg3.png) repeat;
    margin-bottom: 150px;
    border-radius: 8px;
   -moz-box-shadow:   0px 0px 8px 2px #266213;
  -webkit-box-shadow: 0px 0px 8px 2px #174c65;
  box-shadow:         0px 0px 8px 2px #174c65;
}
ul.linkleft{
    margin: 0;
    width: 400px;
    padding-top: 10px;
    float: left;
    padding-left: 95px;
    list-style-type: none;
    text-align: center;
}
ul.linkleft li { display: inline; }
h3 {
    border-bottom-color: #0C0704 !important;
}
ul.linkleft li a
{
text-transform: uppercase;
text-decoration: none;
padding: 15px 12px;
color: #806a5c;
border-right: 1px solid #000;
font-size: 13px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}

ul.linkleft li a:hover
{
color: #90796B;
background-color: rgba(0, 0, 0, 0.4);
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
ul.linkright{
    margin: 0;
    width: 400px;
    padding-top: 10px;
    padding-right: 27px;
    float: right;
    list-style-type: none;
    text-align: center;
}
ul.linkright li { display: inline; }

ul.linkright li a
{
text-transform: uppercase;
text-decoration: none;
padding: 15px 12px;
color: #806a5c;
border-right: 1px solid #000;
font-size: 13px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}

ul.linkright li a:hover
{
color: #90796B;
background-color: rgba(0, 0, 0, 0.4);
font-size: 13px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
.menu{
    width: 500px;
    height:60px;
    position: absolute;
    z-index:4;
    margin-left: 20px;
    margin-top: -30px;
    background: url(../img/homebg3.png) repeat;
    border-radius: 8px;
   -moz-box-shadow:   0px 0px 8px 2px #000;
  -webkit-box-shadow: 0px 0px 8px 2px #000;
  box-shadow:         0px 0px 8px 2px #000;
}
ul.menucenter{
    margin: 5px 0px 0px 12px;
    padding: 15px 0px 0px 0px;
    width: 500px;
    float: left;
    list-style-type: none;
}
ul.menucenter li { display: inline; }

ul.menucenter li a
{
text-transform: uppercase;
text-decoration: none;
padding: 20px 12px;
color: #806a5c;
border-right: 1px solid #000;
font-size: 18px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}

ul.menucenter li a:hover
{
color: #90796B;
background-color: rgba(0, 0, 0, 0.4);
font-size: 18px;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}

.serverstat{
    width: 500px;
    height:160px;
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 8px;
    border: 1px solid #174c65;
   -moz-box-shadow: inset 0px 0px 36px 12px #000;
  -webkit-box-shadow:inset 0px 0px 36px 12px #000;
  box-shadow:       inset 0px 0px 36px 12px #000;
}
.leftbar{
    width: 200px;
    height:460px;
    float: left;
    margin-left: 20px;
    margin-top: 240px;
    border-radius: 4px;
    border: 1px solid #174c65;
   -moz-box-shadow: inset 0px 0px 36px 1px #000;
  -webkit-box-shadow:inset 0px 0px 36px 1px #000;
  box-shadow:       inset 0px 0px 36px 1px #000;
}
.newscontent{
    width: 750px;
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}
.infotitle{
    font-size: 16px;
    color: #634334;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: -10px;
    border: 1px solid #174c65;
    background: #020e15;
    padding: 5px;
    width: 45%;
    border-radius: 8px;
    text-align: center;
    font-weight: 400;
}
.newscontent .article{
    width: 95%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #174c65;
   -moz-box-shadow:  0px 0px 0px 4px #051621;
  -webkit-box-shadow: 0px 0px 0px 4px #051621;
  box-shadow:        0px 0px 0px 4px #051621;
}
.newscontent .article .arttitle{
    font-size: 22px;
    text-transform: uppercase;
    color: #784e38;
}
.newscontent .article p{
    color: #5F4D3F;
    font-size: 14px;
}
.percent.al{
    float: right;
    margin: 0;
    padding: 0;
    height: 30px;
    color: #02bbfe;
    background: #376e94 url(../img/statrea.png) repeat;
}
.statsrea{
    font-size: 14px;
    height: 25px;
    text-align: center;
}
.percent.ho{
    float: left;
    margin: 0;
    padding: 0;
    height: 30px;
    color: #b60402;
    background: #751b1b url(../img/statrea.png) repeat;
}
.statsrea{
    width: 150px;
    height: 50px;
}
.artinfo{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #174c65;
    color: #5F4D3F;
    font-size: 12px;
    text-align: right;
}
.artinfo a{
    color: #784e38;
    text-decoration: none;
    font-weight: 700;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}
.artinfo a:hover{
    color: #A97960;
-o-transition: .4s;
-ms-transition: .4s;
-moz-transition: .4s;
-webkit-transition: .4s;
transition: .4s;
}



.server.info a.qinfo{
float: left;
color: gold;
text-decoration: none;
text-transform: uppercase;
padding: 13px;
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
    0% { opacity: 0.0}
    10% { opacity: .20}
    20% { opacity: .40 }
    30% { opacity: .60 }
    40% { opacity: .80 } 
    50% { opacity: 1.0}
    60% { opacity: .80}
    70% { opacity: .60}
    80% { opacity: .40}
    90% { opacity: .20}
    100% { opacity: 0.0}
 }
.server.info{
text-align: center;
width: 48%;
float: left;
background: rgba(5, 3, 3, 0.38);
padding: 5px;
margin-bottom: 5px;
}
.server.info h1 {
font-size: 18px;
color: rgb(255, 166, 4);
text-shadow: 1px 1px 6px rgb(128, 106, 92);
text-align: left;
padding-left: 10px;
}
span.mini {
font-size: 10px;
color: rgb(20, 194, 20);
text-shadow: 1px 1px 6px rgb(20, 194, 20);
}
span.mini2 {
font-size: 10px;
color: rgb(255, 166, 4);
float: right;
}
.server.info .status {
background: rgba(255, 0, 0, 0.63);
color: rgb(249, 249, 249);
padding: 8px 0;
text-transform: uppercase;
font-size: 15px;
}
.server.info.disable {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: url(grayscale.svg);
filter: gray;
text-decoration: line-through;
}
.right_bar{
width:25%;
max-width: 27%;
-moz-box-shadow: 0px 0px 25px #000;
-webkit-box-shadow: 0px 0px 25px #000;
box-shadow: 0px 0px 25px #000;
float: right;
padding: 10px;
}
.status.cbeta {
    background: #FFA604 !important;
}
#footer{
    text-align: center;
}



#wrap{
    position: relative;
    z-index: 2;
    padding-top: 50px;
}












/**
 * Forums and tables
 *
 * Overwrite default categories/forums layout and common tables settings.
 * Define zebra background colours for even/odd rows and cells.
 */
.forabg,
.forumbg,
#cp-main table.table1 {
	margin-bottom: 15px;
	padding: 0;
	border-bottom: 3px solid #041319;
	border-radius: 5px 5px 0 0;
	background: #051e29;
}

ul.forums,
ul.topics,
table.table1 tbody {
}

/* Row (single forum) */
ul.topiclist li {
	color: #49919e;
}

table.table1 tbody tr {
	border: 0;
}

li.row,
#cp-main .panel li.row,
table.table1 tbody tr {
	border-top: 1px solid #174c65;
	border-bottom: 0;
}

ul.topics .bg1,
ul.topics .bg2,
li.row:hover,
table.table1 tr.bg1,
table.table1 tr.bg2,
table.table1 tbody tr:hover {
	background: none;
}

/* Different background for even rows */
li.row, li.row:nth-child(even),
table.table1 tbody tr:nth-child(even) {
	background: #0C0704;
}
.forumbg .header a, .forabg .header a, th a, dd.topics, dd.lastpost{
    color: #699ab1 !important;
}
.forumbg ul.topiclist li.reported dd:nth-child(even),
li.reported,
li.reported:hover {
	background: #f7ecef !important;
}

li.row strong {
	color: inherit;
	font-weight: bold;
}

ul.topiclist li.header dl,
ul.topiclist li.row dl {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

/* Cell  */
ul.topiclist dt,
ul.topiclist dd,
table.table1 tbody td {
	padding: 7px;
	border: 0;
	vertical-align: middle;
	line-height: 18px;
	font-size: 12px;
}

ul.topiclist dt,
ul.topiclist dd {
	display: table-cell;
	float: none;
}

/* Different background in odd columns */
ul.topiclist li.row dt:nth-child(even),
ul.topiclist li.row dd:nth-child(even),
.forabg ul.topiclist li.row dt:nth-child(odd),
.forabg ul.topiclist li.row dd:nth-child(odd),
.forumbg ul.topiclist li.row dt:nth-child(odd),
.forumbg ul.topiclist li.row dd:nth-child(odd),
table.table1 tbody td:nth-child(even) {
	background-color: #062533;
}

.forabg ul.topiclist li.row dt:nth-child(even),
.forabg ul.topiclist li.row dd:nth-child(even),
.forumbg ul.topiclist li.row dt:nth-child(even),
.forumbg ul.topiclist li.row dd:nth-child(even) {
	background-color: #05161e;
}

ul.topiclist li.row:nth-child(even) dt:nth-child(even),
ul.topiclist li.row:nth-child(even) dd:nth-child(even),
.forabg ul.topiclist li.row:nth-child(even) dt:nth-child(odd),
.forabg ul.topiclist li.row:nth-child(even) dd:nth-child(odd),
.forumbg ul.topiclist li.row:nth-child(even) dt:nth-child(odd),
.forumbg ul.topiclist li.row:nth-child(even) dd:nth-child(odd),
table.table1 tbody tr:nth-child(even) td:nth-child(even) {
	background-color: #1D120C;
}

.forabg ul.topiclist li.row:nth-child(even) dt:nth-child(even),
.forabg ul.topiclist li.row:nth-child(even) dd:nth-child(even),
.forumbg ul.topiclist li.row:nth-child(even) dt:nth-child(even),
.forumbg ul.topiclist li.row:nth-child(even) dd:nth-child(even) {
	background-color: #190D08;
}

.forumbg ul.topiclist li.reported dt:nth-child(odd),
.forumbg ul.topiclist li.reported dd:nth-child(odd),
ul.topiclist li.reported dt:nth-child(even),
ul.topiclist li.reported dd:nth-child(even) {
	background-color: #f4e1e6 !important;
}

dd.lastpost span,
ul.topiclist dd.searchby span,
ul.topiclist dd.info span,
ul.topiclist dd.time span,
dd.redirect span,
dd.moderation span {
	padding: 0;
}

/* Category header */
ul.topiclist li.header dt,
ul.topiclist li.header dd,
table.table1 thead th,
#cp-main table.table1 thead th {
	padding: 9px 7px;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	font-weight: normal;
}

.forabg ul.topiclist li.header dt,
.forumbg ul.topiclist li.header dt {
	width: auto;
}

li.header dl.icon dt .list-inner,
ul.topiclist dt .list-inner,
ul.topiclist.missing-column dt .list-inner,
ul.topiclist.two-long-columns dt .list-inner {
	margin: 0;
	padding: 0;
}

/* Subforums list on index */
ul.topiclist li.row a.subforum {
	padding: 0;
	background: none;
	white-space: nowrap;
}

ul.topiclist li.row a.subforum:before {
	content: "\f07b";
	display: inline-block;
	margin-right: 4px;
	padding-left: 1px;
	color: #6b6b6b;
	font-family: FontAwesome;
}

ul.topiclist li.row a.subforum.unread:before {
	color: #bc2a4d;
}

/* Specific colums settings */
ul.topiclist.forums li.row dt,
ul.topiclist.topics li.row dt {
	width: 55px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}

/* Topic icon */
.forumbg ul.topiclist li.row dt img {
	margin-top: 20px;
	margin-right: -20px;
}

a.lastsubject {
	font-weight: normal;
}

dd.topics,
dd.posts {
	width: 132px;
}

dd.lastpost {
	width: 250px;
}

/* Last post author and date icons */
dd.lastpost .fa {
	color: #2d85b1;
}

dd.redirect {
	width: 382px;
	text-align: center;
}

/* Space between last category and quick login/statistics */
.online-list {
	margin-top: 30px;
}

/* It is currently/Last visit was */
.section-index .time {
	display: none;
}

.logged-out #nav-breadcrumbs {
	margin-bottom: 29px;
}

/* Action-bars (container for post/reply buttons, pagination, etc.) */
.action-bar {
	margin-bottom: 8px;
	line-height: 18px;
	font-size: 12px;
}

/**
 * Tables
 *
 * Overwrite specific tables settings.
 */
.forumbg-table > .inner {
	margin: 0;
}

table.table1 {
	border-collapse: collapse;
}

table.table1 td {
	color: #525252;
}

/* Recent searches tables */
.section-search .forumbg-table {
	margin-top: 15px;
}

.section-search .forumbg-table thead th,
.section-search .forumbg-table .active {
	text-align: center;
}

#cp-main table.table1 thead th {
	border-bottom: 0;
	color: #fff;
	text-align: left;
}

/**
 * Panels
 */
.panel {
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	background-color: #020e15;
	color: #699ab1;
}

.bg1,
.bg3 {
	background-color: #23150C;
}

.bg2 {
	background-color: #0C0704;
}

.content {
	color: #557a94;
}
.error {
    color: #D31111 !important;
    border: 1px solid #ff0000;
    text-align: center;
}
/* Base font in panels */
fieldset,
dl.faq,
.content dl.faq,
.content p,
.panel p {
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Headers in panels */
.panel h2,
.panel h3,
.content h2 {
	margin-bottom: 10px;
	padding-bottom: 8px;
	color: #699ab1;
	text-transform: none;
	font-size: 16px;
	font-weight: normal;
}

h2.solo {
	margin-bottom: 10px;
}

/**
 * FAQ
 */
dl.faq {
	margin-top: 7px;
	margin-bottom: 16px;
}

dl.faq:last-child {
	margin-bottom: 7px;
}

dl.faq dt {
	color: #3f3f3f;
}

/**
 * Posts and private messages
 */
.post {
	position: relative;
	margin-bottom: 5px;
	padding: 0;
}

.post .inner {
	display: table;
	width: 100%;
}

.online {
	background-image: none;
}

.post.bg1 {
	background: #0d1929;
}

.post.bg2 {
	background: #070e17;
}

.post.bg1 .postprofile {
	background-color: #17263a;
}

.post.bg2 .postprofile {
	background-color: #1a293a;
}

.post.reported .postprofile {
	background-color: #f4e1e6;
}

.post.reported .postbody {
	background-color: #f7ecef;
}

.inventea-online {
	display: inline-block;
	margin-bottom: 18px;
	padding: 3px 8px 1px;
	border-radius: 5px;
	background: #266da0;
	color: #fff;
	text-transform: uppercase;
}
.recaptchatable * {
    margin: 0;
    padding: 0;
    border: 0;
    color: white !important;
}
.inner.Staff {
    border: 1px solid #10829C;
}
.inner.Staff .postbody .content,.inner.Staff .post:target .content{
    color: #00C0FF;
}
.post.bg1 .Staff .postbody:before {
	border-color: transparent #07314a transparent transparent !important;
}

.post.bg2 .Staff .postbody:before {
	border-color: transparent #07314a transparent transparent !important;
}
.post:target h3 a {
    color: #266da0 !important;
}
.inner.Staff .postbody{ 
    background-image: url("./images/sunwellteambg.png"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #07314a;
}
.inner.Staff .postprofile{
    border: 1px solid #00C0FF;
    -moz-box-shadow:     inset 0 0 18px 2px #00C0FF;
    -webkit-box-shadow:  inset 0 0 18px 2px #00C0FF;
    box-shadow:          inset 0 0 18px 2px #00C0FF;
    
}
.inner.Staff img.avatar {
    border: 1px solid #00C0FF;
    -moz-box-shadow:     0 0 15px 6px #00C0FF;
    -webkit-box-shadow:  0 0 15px 6px #00C0FF;
    box-shadow:          0 0 15px 6px #00C0FF;
}
.postprofile,
.post .postbody {
	display: table-cell;
	float: none;
	clear: none;
	padding: 18px;
}

/* Bottom padding is a place for back to top button */
.post .postbody {
	padding-bottom: 36px;
}

/* User profile */
.postprofile,
.pm .postprofile,
.search .postprofile {
	min-height: initial;
	width: 23%;
	margin: 0;
	border: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	color: #699ab1;
	vertical-align: top;
}

.postprofile dt,
.postprofile dd {
	margin: 0;
	line-height: 18px;
}

.postprofile dt,
.postprofile dd.profile-rank {
	text-align: center;
}

.postprofile strong {
	color: #699ab1;
}

.postprofile .has-avatar .avatar-container {
	margin-bottom: 14px;
        padding: 15px;
}

@media only screen and (min-width: 701px) {
	.postprofile .avatar {
		display: inline;
		float: none;
	}

	.postprofile .avatar img {
		display: inline;
	}
}

.postprofile dt.no-profile-rank,
.postprofile dd.profile-rank,
.postprofile .search-result-date {
	margin-bottom: 18px;
}

ul.profile-icons {
	padding-top: 10px;
}

/* Post message */
.post .postbody,
.search .postbody {
	width: auto;
}

.post .postbody {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.post.bg1 .postbody:before {
	border-color: transparent #0d1929 transparent transparent;
}

.post.bg2 .postbody:before {
	border-color: transparent #070e17 transparent transparent;
}

.post.reported .postbody:before {
	border-color: transparent #f7ecef transparent transparent;
}

/* Post message left triangle */
.post .postbody:before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	margin-top: 7px;
	margin-left: -34px;
	border-style: solid;
	border-width: 14px 16px 14px 0;
}

.postbody h3,
.postbody h3.first {
	margin: 0 !important;
	padding: 0;
	line-height: 21px;
	font-size: 16px;
	font-weight: bold;
}

.postbody h3 img {
	vertical-align: middle;
}

p.author {
	margin: 1px 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px dotted #1E4556;
	color: #699ab1;
	line-height: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.postbody .content,
.post:target .content {
	overflow: auto;
	color: #699ab1;
	line-height: 21px;
	font-size: 14px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.section-viewtopic .postbody .content {
	max-width: 832px;
}

.post .signature {
	clear: none;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #c2c2c2;
	color: #525252;
	line-height: 18px;
	font-size: 12px;
}

.postbody .content img,
.signature img {
	max-width: 100%;
}

/* Private message */
#cp-main .post {
	border-radius: 7px;
}

#cp-main .post .postbody:before {
	content: none;
}

#cp-main .postbody p {
	font-size: 12px;
}

/* Post message preview (posting.php) */
#postform .content {
	padding: 10px 18px;
	border-radius: 7px;
}

/* Poll preview background */
.section-posting #preview .content {
	background: #020e15;
}

#postform .content .author {
	margin-bottom: 12px;
	padding: 0;
	border-bottom: 0;
}

#postform .postbody,
#topicreview .postbody {
	padding-bottom: 18px;
	border-radius: 7px;
}

#postform .postbody:before {
	content: none;
}

#postform .postbody h3 {
	margin-bottom: 9px !important;
	padding-bottom: 9px;
	border-bottom: 1px dotted #c2c2c2;
}

#postform .postbody .content {
	padding: 0;
	border-radius: 0;
}

/* Topic review */
#topicreview .postbody h3 {
	margin: 0 !important;
	padding: 0;
	border: 0;
}

#topicreview .content {
	background: inherit;
}

#topicreview .postbody .right-box {
	margin-right: 5px;
	line-height: 28px;
}
fieldset.quick-login input.inputbox {
    background-color: #051621 !important;
}
.button, .button:hover {
    border-color: #17263a;
    background-color: #3F281F;
    background-image: -moz-linear-gradient(top, #0f293a, #051621) !important;
    background-image: -webkit-linear-gradient(top, #0f293a, #051621) !important;
    background-image: -o-linear-gradient(top, #0f293a, #051621) !important;
    background-image: linear-gradient(to bottom, #0f293a, #051621) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9')";
    box-shadow: 0 0 0 1px #3F281F inset !important;
    -webkit-box-shadow: 0 0 0 1px #3F281F inset;
}
/* Post related links */
.postprofile a:link,
.postprofile a:visited,
.search .postprofile a {
	color: #967E6F;
}

.postprofile a:focus,
.postprofile a:hover,
.postprofile a:active,
.search .postprofile a:focus,
.search .postprofile a:hover,
.search .postprofile a:active {
	color: #bc2a4d;
	text-decoration: underline;
}

.back2top {
	position: absolute;
	right: 18px;
	bottom: 16px;
	height: auto;
}

/* Polls */
fieldset.polls {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

fieldset.polls dl {
	margin: 0;
	padding: 0;
	border-color: #dadada;
	color: #525252;
}

fieldset.polls dt,
fieldset.polls dd {
	line-height: 32px;
	font-size: 12px;
}

fieldset.polls dd.resultbar {
	margin-top: 7px;
	margin-right: 5px;
	line-height: normal;
}

/* Poll bar */
fieldset.polls dd div {
	min-width: 8px;
	padding: 1px 3px;
}

/* Post related features */
.attachbox {
	clear: right;
	max-width: 832px;
	padding: 7px;
	border: 1px solid #ccc;
}

.inline-attachment {
	margin: 15px 0;
}

.attachbox dt,
dl.file {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.attachbox dt {
	padding-bottom: 3px;
	line-height: 14px;
	font-weight: bold;
}

.attachbox dd {
	padding-top: 6px;
	border-color: #ccc;
}

dl.file {
	line-height: 18px;
}

dl.file dd {
	color: #525252;
	font-size: 12px;
}

dl.file .attach-image + dd {
	margin-top: 4px;
}

.attach-image img {
	max-width: 100%;
	border: 0;
}

dl.thumbnail img {
	padding: 0;
	border: 0;
}

dl.thumbnail dt a:hover,
dl.thumbnail dt a:hover img {
	border: 0;
	background: inherit;
}

dl.codebox {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 3px 5px;
	border-color: #ccc;
}

dl.codebox dt {
	padding-bottom: 3px;
	font-size: 12px;
}

dl.codebox code {
	font-size: 12px;
	line-height: 16px;
	font-family: Consolas, Monaco, "Lucida Console", monospace;
}

blockquote,
blockquote.uncited {
	padding: 7px;
}

blockquote {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #17263a;
    background: rgba(60, 41, 28, 0.47);
    font-size: 14px;
}

blockquote blockquote {
	background: rgba(60, 41, 28, 0.47);
}

blockquote blockquote blockquote {
	border-color: #17263a;
	background: rgba(60, 41, 28, 0.47);
}

/* Quote icon before "XYZ wrote:" */
blockquote:before {
	content: "\f10d";
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
}

blockquote cite {
	margin-top: -22px;
	font-size: 14px;
}

a.postlink {
	border-bottom: 1px dotted #6b6b6b;
	color: #6b6b6b;
}

a.postlink:visited {
	color: #959595;
}

a.postlink:active,
a.postlink:focus,
a.postlink:hover {
	border-color: #174c65;
	background: none;
	color: #174c65;
}
fieldset dl:hover dt label {
    color: #8bcdd4 !important;
}
.signature a,
.signature a:active,
.signature a:focus,
.signature a:hover {
	text-decoration: none;
}
.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select{
    
    text-shadow: none !important;
}
.dropdown-select {
    color: #AF7D64 !important;
}
.signature a:active,
.signature a:focus,
.signature a:hover {
	border-bottom: 1px dotted #bc2a4d;
}

/* Profile and post buttons */
.postprofile ul.profile-icons li,
.postprofile ul.profile-icons li a,
.postbody ul.profile-icons li,
.postbody ul.profile-icons li a {
	width: auto;
	height: auto;
	margin: 0;
	background: none;
	font-weight: normal;
}

.postprofile ul.profile-icons li {
	margin-top: 8px;
	margin-right: 5px;
}

.postbody ul.profile-icons li {
	margin-left: 5px;
}

.postprofile ul.profile-icons li a,
.postbody ul.profile-icons li a {
	display: block;
	box-sizing: border-box;
	width: 28px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom: 3px solid #c5c5c5;
	border-radius: 5px;
	background: #dfdfdf;
	color: #6b6b6b;
	text-transform: uppercase;
	text-align: center;
	line-height: 17px;
	font-size: 12px;
}

/* More dark profile icons */
.postprofile ul.profile-icons li a {
	border-color: #c5c5c5;
	background: #dfdfdf;
}

.postprofile ul.profile-icons li a:focus,
.postprofile ul.profile-icons li a:hover,
.postprofile ul.profile-icons li a:active,
.postbody ul.profile-icons li a:focus,
.postbody ul.profile-icons li a:hover,
.postbody ul.profile-icons li a:active {
	border-color: #91203c;
	background: #bc2a4d;
	color: #fff;
	text-decoration: none;
}

.postprofile ul.profile-icons li a:before,
.postbody ul.profile-icons li a:before {
	display: block;
	font-family: FontAwesome;
	font-size: 14px;
}

.pm-icon a:before 		{ content: "\f075"; }
.email-icon a:before 	{ content: "\f0e0"; }
.web-icon a:before 		{ content: "\f0ac"; }
.msnm-icon a:before 	{ content: "\f17a"; }
.icq-icon a:before 		{ content: "\f069"; }
.yahoo-icon a:before 	{ content: "\f19e"; }
.aim-icon a:before 		{ content: "\f183"; }
.jabber-icon a:before 	{ content: "\f0eb"; }
.edit-icon a:before 	{ content: "\f040"; }
.delete-icon a:before 	{ content: "\f00d"; }
.report-icon a:before 	{ content: "\f071"; }
.warn-icon a:before 	{ content: "\f056"; }
.info-icon a:before 	{ content: "\f129"; }
.quote-icon a:before 	{ content: "\f10d"; }

/* Who is online */
.inventea-quickmod + h3 {
	clear: both;
}

/**
 * Search results
 */
.section-search .topic-actions {
	margin-bottom: 12px;
}

.section-search .search-box {
	margin-left: 0;
}

/* Search these results input */
.section-search #add_keywords {
	width: auto;
}

.section-search .postprofile {
	color: #414141;
}

.section-search .postprofile strong {
	color: #525252;
}

/* Search found matches */
.section-search hr + .linklist {
	margin-top: 14px;
	padding-top: 2px;
}

/**
 * Memberlist
 */
#search_memberlist {
	margin-bottom: 28px;
}

#search_memberlist .panel {
	padding-top: 8px;
}

/* Fix margins in member filtering panel */
.panel ul.linklist li {
	margin-bottom: 0;
	padding: 5px 0;
}

.section-memberlist .panel + .forumbg,
#simple-wrap .panel + .forumbg {
	margin-top: 7px;
}

.section-memberlist .panel ul.linklist li strong,
#simple-wrap .panel ul.linklist li strong {
	font-size: 12px !important;
}

/* Viewprofile */
#viewprofile .postbody {
	width: auto;
}

#viewprofile .inventea-profile {
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 18px;
}

#viewprofile .signature {
	margin-bottom: 10px;
	color: #414141;
	line-height: 18px;
	font-size: 12px;
}

/**
 * Buttons
 *
 * Overwrite old graphic buttons with new CSS one using Font Awesome icons.
 */
.topic-actions {
	overflow: hidden;
	margin-bottom: 1px;
	line-height: 18px;
	font-size: 12px;
}

hr + .topic-actions {
	margin-top: 8px;
}

.buttons div {
	width: auto !important;
	height: auto !important;
}

.buttons div a {
	display: block;
	width: auto;
	padding: 8px 10px 6px;
	border-bottom: 3px solid #ccc;
	border-radius: 5px;
	background: #e9e9e9;
	color: #6b6b6b;
	text-transform: uppercase;
	line-height: 17px;
	font-size: 12px;
}

.buttons div a:focus,
.buttons div a:hover,
.buttons div a:active {
	border-color: #91203c;
	background: #bc2a4d;
	color: #fff;
	text-decoration: none;
}

.buttons div span {
	position: static;
	float: left;
	width: auto;
	height: auto;
	background: none;
}

.buttons div span:before {
	display: block;
	margin-right: 7px;
	font-family: FontAwesome;
	font-size: 14px;
}

.forwardpm-icon span:before 	{ content: "\f064"; }
.locked-icon span:before 		{ content: "\f023"; }
.pmreply-icon span:before 		{ content: "\f112"; }
.reply-icon span:before 		{ content: "\f112"; }
.newpm-icon span:before 		{ content: "\f055"; }
.post-icon span:before 			{ content: "\f055"; }

/**
 * Miscellaneous
 */
.inventea-no-items {
	display: block;
	text-align: center;
}

/* Forums layout related links */
#search-box a:hover,
#search-box a:active,
.navbg a:hover,
.navbg a:active,
.forumbg .header a:hover,
.forumbg .header a:active,
.forabg .header a:hover,
.forabg .header a:active,
th a:link,
th a:visited,
th a:hover,
th a:active {
	color: #fff;
}

a.forumtitle:hover,
a.forumtitle:active,
a.topictitle:hover,
a.topictitle:active {
	color: #174c65;
}

a.topictitle:visited {
	color: #8C614A;
}

a.top {
	overflow: visible;
	width: auto;
	height: auto;
	background: none;
	color: #b5b5b5;
	text-indent: initial;
	letter-spacing: normal;
	font-size: 14px;
}

a.top:focus,
a.top:hover,
a.top:active {
	color: #959595;
}

a.top2 {
	display: none;
	background-image: none;
}

a.left,
a.left:active,
a.left:visited,
a.right,
a.right:active,
a.right:visited {
	padding: 0;
	background: none;
}

a.left:hover,
a.right:hover {
	text-decoration: underline;
	color: #bc2a4d;
}

a.left:before,
a.right:after {
	display: inline-block;
	color: #959595;
	font-family: FontAwesome;
}

a.left:before {
	content: "\f060";
	margin-right: 6px;
}

a.right:after {
	content: "\f061";
	margin-left: 6px;
}

hr.dashed {
	border-top: 1px dotted #c2c2c2;
}

/**
 * Forum icons & Topic icons
 */
.global_read					{ background-image: url("./images/announce_read.gif"); }
.global_read_mine				{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked				{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine		{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread					{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine				{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked			{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read					{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine				{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked			{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine		{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread				{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine			{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked			{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine	{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link						{ background-image: url("./images/forum_link.png"); }
.forum_read						{ background-image: url("./images/forum_read.png"); }
.forum_read_locked				{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum			{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread					{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked			{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum			{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read					{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine				{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked				{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine		{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread					{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine				{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked			{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine		{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved					{ background-image: url("./images/topic_moved.png"); }
.topic_read						{ background-image: url("./images/topic_read.png"); }
.topic_read_mine				{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot					{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine			{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked				{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine			{ background-image: url("./images/topic_read_locked_mine.png"); }
.topic_unread					{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine				{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot				{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine			{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked			{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine		{ background-image: url("./images/topic_unread_locked_mine.png"); }

.pm_read						{ background-image: url("./images/topic_read.png"); }
.pm_unread						{ background-image: url("./images/topic_unread.png"); }
